.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 120px 20px 20px 20px;

    h1 {
        font-size: 1.7rem;
        font-family: sans-serif;
        color: #28a7c5;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input{
            background-color: transparent;
            width: 390px;
            padding: 15px;
            border: 2px solid #9ad0e2;
            color: #000;
            font-family: sans-serif;
            font-weight: 700;
            font-size: 0.8rem;
            margin-top: 20px;
    
        }

        textarea{
            background-color: transparent;
            width: 390px;
            height: 200px;
            padding: 15px;
            border: 2px solid #9ad0e2;
            color: #000;
            font-family: sans-serif;
            font-weight: 700;
            font-size: 0.8rem;
            margin-top: 20px;
        }

        button {
            background-color: transparent;
            width: 250px;
            height: 50px;
            border: 2px solid #9ad0e2;
            color: #000;
            font-family: sans-serif;
            font-weight: 700;
            font-size: 0.8rem;
            margin-top: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    
}