.nav {
    position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: white;
    color: #000;
    border-bottom: 3px solid #ddd;

    .left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 60px;
        width: 50%;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;

        @media (max-width: 1000px) {
            display: none;

        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 60px;
            width: 50%;



            li {
                list-style: none;
                padding: 10px 15px 10px 15px;
                font-size: 1.2rem;
                font-weight: bold;
                font-family: sans-serif;

                &:hover {
                    background-color: #28a7c5;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    .mobileMenuIcon {
        display: none;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        margin-right: 60px;

        @media (max-width: 1000px) {
            display: flex;

        }
    }
}

.mobileMenu {
    display: none;
}

.mobileMenuOpen {
    position: fixed;
    top:90px;
    display: flex;
    width: 100%;
    background-color: #ddd;
    padding: 15px;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px;


        li {
            list-style: none;
            padding: 5px 10px 5px 10px;
            font-size: 1.2rem;
            font-weight: bold;
            font-family: sans-serif;

            &:hover {
                background-color: #28a7c5;
                color: white;
                cursor: pointer;
            }
        }
    }

}